:root{
    
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.header {

}

.navbar {
}

.logo{
    font-family: 'Raleway', sans-serif;
}

.logo-top > .logo{

}

.menu {
}

.menu-item {
}

.contacts {
}

.contacts-item {
}

.content {
}

.menu-buttons {
}

.button-item {
}

.btn-menu {
}

.main-content {
}

.content-item {
}

.content-image {
}

.content-title {
}

.content-description {
}

.logo-bottom > .logo{
}

.footer-address {
}

.address-item {
}