:root{
    --header-bg-color:#fff;
    --logo-main-color:#2196f3;
    --text-color-dark:#212121;
    --text-color-accent:#2196f3;
    --text-description-color:#757575;
    --background-color-main:#e5e5e5;
    --background-color-secondary:#f5f4fa;
    --bg-color-cards:#fff;
    --border-color-cards:#eee;
    --footer: #2f303a;
    --footer-links-color:rgba(255, 255, 255, 0.6);
    --slogan-bg-color:#2f303a;
    --accent-color-slogan-button: #188ce8;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.header {
    
}

.navbar {
}

.logo{
    font-family: 'Raleway', sans-serif;
}

.logo-top{

}

.menu {
}

.menu-item {
}

.contacts {
}

.contacts-item {
}

.content {
}

.menu-buttons {
}

.button-item {
}

.btn-menu {
}

.main-content {
}

.content-item {
}

.content-image {
}

.content-title {
}

.content-description {
}

.logo-bottom{
}

.footer-address {
}

.address-item {
}